# ==============================================================================
# Gitignore
# DaikieJP - 2026
# ==============================================================================

# ==============================================================================
# Zsh
# ==============================================================================

zsh/.config/zsh/plugins/
